@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


#line-chart-error{
    margin-left: 70px;
}

.card-body{
	height: 2em;
    background-color: #fff;
}

.card-text{
	margin-bottom: 10px;
    font-size: 14px;
}

.infobulle{
	position: relative;
}

.infobulle-text{
	position: absolute;
	bottom: 0px;
	right: 10px;
	width: 200px;
	color: #000;
	padding: 5px;
	font-size: 10px;
	background-color: #ccc;
	border: 1px solid #000;
	border-radius: 10px;
}


.list-inline{
	margin-top: 15px;
}

.list-inline-item{
	margin-left: 15px;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}


#ids{
	margin-top: 40px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
	min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #ccc;
    color: #fff;
    transition: all 0.3s;
    margin-right: 30px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ccc;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
.wrapper {
    display: flex;
    width: 100%;
}

.form-control{
    margin: 5px;
}

#keygen{
    margin-left: 5px;
}