.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form{
    padding: 5%;
    margin-left: 20%;
}

.login-container form{
    padding: 10%;
}

.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    margin-left: 5%;
 
}

.login-form .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}

h1{
   margin-left: 25%; 
   color:red;
}